html {
    height: 100%;
    background-color: #1c1c1c;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0 auto;
    width: 100%;
    color: white;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0 auto;
    width: 100%;
    color: white;
}

p {
    font-family: 'Helvetica', sans-serif;
    font-weight: 200;
    color: white;
    width: 100%;
    margin: 0 auto;
}


/* Main Content */

.aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: blueviolet; */
}

.aboutContainer hr {
    margin: 0 auto;
    padding: 0;
    height: 1px;
    width: 95%;
    border: none;
    background-color: #333333;
}


/* Title */

.aboutTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 36px 0 60px 0;
    width: 100%;
    /* background-color: #333333; */
}

.aboutTitleContainer h1 {
    font-size: 72px;
    padding: 0;
}

.aboutTitleContainer p {
    font-size: 16px;
    width: 70%;
    padding: 8px 0 0 0;
}


/* Person Containers */

.personContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* background-color: orange; */
    padding: 20px;
    margin: 0 auto;
}

.reversedPerson {
    flex-direction: row-reverse;
}

.personContainer img {
    background-color: aqua;
    height: 100%;
    width: 20%;
    border-radius: 50%;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: greenyellow; */
    height: 100%;
    padding: 0 24px;
}

.descriptionContainer h2 {
    font-size: 64px;
    padding: 4px 0;
    /* background-color: mediumvioletred; */
}

.descriptionContainer p {
    font-size: 16px;
    padding: 8px 0;
    /* background-color: palevioletred; */
}

.descriptionContainer p>a,
.descriptionContainer p>a:visited {
    color: #aaed45;
}


/* Media Queries */

@media (max-width: 767px) {
    /* Title */
    .aboutTitleContainer h1 {
        font-size: 48px;
    }
    .aboutTitleContainer p,
    .descriptionContainer p {
        font-size: 14px;
    }
    /* Person Containers */
    .personContainer {
        flex-direction: column;
    }
    .personContainer img {
        width: 45%;
    }
    .descriptionContainer {
        text-align: center;
    }
    .descriptionContainer h2 {
        font-size: 36px;
    }
}